.questions1 {
     margin-left: auto;
     margin-right: auto;
     width: 300px;
}

h1 {
    color: blueviolet;
}

h3{
    text-align: center;
    padding: 20% 0 20%;
}

.boxUno {
    color: rgb(205, 255, 4);
    border: cornflowerblue solid 2px;
    height: 100px;
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 25px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.boxDos {
    color: rgb(226, 90, 77);
    border: rgb(246, 28, 28) solid 2px;
    height: 100px;
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 25px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.boxTres {
    color: rgb(5, 14, 182);
    border: rgb(3, 91, 255) solid 2px;
    height: 100px;
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 25px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

p {
    color: blueviolet;
}